<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highlighted Policy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Privacy Policy Highlights</h1>
    <div id="highlights">
        {{ highlighted_text }}
    </div>
    <a href="/">Back to upload</a>
</body>
</html>
