body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    min-width: 250px; /* Adjust width as needed */
}

h1 {
    color: #5a5a5a;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: block; /* Ensure the button fills the width */
}

button:hover {
    background-color: #45a049;
}
#loading img {
    max-width: 100%; /* Make the image fit the width of its container */
    height: auto; /* Maintain aspect ratio */
}

#loading {
    color: #555;
    margin: 10px 0;
}

#summary {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px 0;
    color: #333;
    white-space: pre-line; /* Ensures formatting of summary is maintained */
}
